# Dictionaries

In [4]:
myDict: dict = {"name": "Abdul", "age": 30}
myDict

{'name': 'Abdul', 'age': 30}

In [5]:
myDict["email"] = "abcd@email.com"

In [6]:
myDict

{'name': 'Abdul', 'age': 30, 'email': 'abcd@email.com'}

In [7]:
myDict["name"]

'Abdul'

In [8]:
myDict["email"] = "abcd@gmail.com"

In [9]:
myDict

{'name': 'Abdul', 'age': 30, 'email': 'abcd@gmail.com'}

In [10]:
# latest value overrides the previous

aDict: dict = {1:100, 2:200, 3:300, 1:1000}
aDict

{1: 1000, 2: 200, 3: 300}

In [11]:
"age" in myDict

True

In [12]:
myDict2: dict[str, str] = {"name": "Abdul", "age": "30"}

print(myDict2["name"])

Abdul

In [13]:
from typing import Dict

myDict3: Dict[str, str] = {"name": "Abdul", "age": "30"}

print(myDict3["name"])

Abdul

typing.Dict is a generic version of dict

In [14]:
print(myDict.get("school", "NA"))

NA

In [16]:
print(myDict.get("name", "NA"))

Abdul

In [17]:
myDict.items()

dict_items([('name', 'Abdul'), ('age', 30), ('email', 'abcd@gmail.com')])

In [18]:
#Dictionary Comprehension

{k:v for k, v in myDict.items()}

{'name': 'Abdul', 'age': 30, 'email': 'abcd@gmail.com'}

In [19]:
{v:k for k, v in myDict.items()}

{'Abdul': 'name', 30: 'age', 'abcd@gmail.com': 'email'}

In [21]:
a : int = 6
b : int = 9

print(f"a is {a} and b is {b}")
a, b = b, a

print(f"a is {a} and b is {b}")

a is 6 and b is 9
a is 9 and b is 6

In [22]:
myDict4 = {"name": "Abdul", "age": "30", "rollno": {"a": 1, "b": 2, "c": 3}}

print(myDict4["rollno"]["b"])

2

In [26]:
myDict4.setdefault("address", "QP")

'NA'

In [24]:
myDict4

{'name': 'Abdul',
 'age': '30',
 'rollno': {'a': 1, 'b': 2, 'c': 3},
 'address': 'NA'}

In [27]:
myDict4.update("address":"QP")

SyntaxError: invalid syntax (2854894967.py, line 1)

In [31]:
myDict5: dict = {"name": "A.K", "address": "QP"}
myDict5

{'name': 'A.K', 'address': 'QP'}

In [32]:
myDict4.update(myDict5)
myDict4

{'name': 'A.K',
 'age': '30',
 'rollno': {'a': 1, 'b': 2, 'c': 3},
 'address': 'QP'}

In [35]:
from typing import Any
import pandas as pd

myDict6: dict[str, list[Any]] = {"rollno": [1, 2, 3], "name": ["A", "B", "C"], "age": [11, 12, 13], "address": ["A", "B", "C"], "marks": [111, 112, 113]}

df: pd.DataFrame = pd.DataFrame(myDict6)
print(df)
df

   rollno name  age address  marks
0       1    A   11       A    111
1       2    B   12       B    112
2       3    C   13       C    113

   rollno name  age address  marks
0       1    A   11       A    111
1       2    B   12       B    112
2       3    C   13       C    113

We can convert any dictionery in to pandas dataframe

In [37]:
import pandas as pd

myDict7: dict[str, list[str | int]] = {"rollno": [1, 2, 3], "name": ["A", "B", "C"], "age": [11, 12, 13], "address": ["A", "B", "C"], "marks": [111, 112, 113]}

df1: pd.DataFrame = pd.DataFrame(myDict7)
df1

   rollno name  age address  marks
0       1    A   11       A    111
1       2    B   12       B    112
2       3    C   13       C    113

In [43]:
import json
import pprint
json_data = json.dumps(myDict7)

pprint.pprint(json_data)
print(json_data)
display(json_data)

('{"rollno": [1, 2, 3], "name": ["A", "B", "C"], "age": [11, 12, 13], '
 '"address": ["A", "B", "C"], "marks": [111, 112, 113]}')
{"rollno": [1, 2, 3], "name": ["A", "B", "C"], "age": [11, 12, 13], "address": ["A", "B", "C"], "marks": [111, 112, 113]}

'{"rollno": [1, 2, 3], "name": ["A", "B", "C"], "age": [11, 12, 13], "address": ["A", "B", "C"], "marks": [111, 112, 113]}'