In [1]:
cities: str = ["lhr", 'mul', "que", "khi", "psh"]
cities.extend("isl", "fsl")
cities

TypeError: list.extend() takes exactly one argument (2 given)

In [2]:
cities: str = ["lhr", 'mul', "que", "khi", "psh"]
cities.extend(["isl", "fsl"])
cities

['lhr', 'mul', 'que', 'khi', 'psh', 'isl', 'fsl']

In [3]:
cities: str = ["lhr", 'mul', "que", "khi", "psh"]
cities.append(["isl", "fsl"])
cities

['lhr', 'mul', 'que', 'khi', 'psh', ['isl', 'fsl']]

In [4]:
cities[1]

'mul'

In [5]:
cities["mul"]

TypeError: list indices must be integers or slices, not str

In [6]:
cities.index("mul")

1

In [8]:
cities.insert(1, "rwp")
cities[1]

'rwp'

In [9]:
cities.extend({"slk"})
cities

['lhr', 'rwp', 'rwp', 'mul', 'que', 'khi', 'psh', ['isl', 'fsl'], 'slk']

extend takes iterable item

In [10]:
cities.extend(["guj", "ksu"])
cities

['lhr',
 'rwp',
 'rwp',
 'mul',
 'que',
 'khi',
 'psh',
 ['isl', 'fsl'],
 'slk',
 'guj',
 'ksu']

In [11]:
popped_item: str = cities.pop()
print(f"{popped_item} is removed from the list.")
# Output: "city is removed from the list."

ksu is removed from the list.

In [12]:
number_list: int = [1, 2, 3, 4]
popped_item: str = number_list.pop()
print(f"{popped_item} is removed from the list.")
print(popped_item * 4)

4 is removed from the list.
16

You can use the popped item

In [13]:
popped_city: str = cities.pop(2)
print(f"{popped_city} is removed from the list by using index number.")

rwp is removed from the list by using index number.

In [14]:
del cities[15]

IndexError: list assignment index out of range

In [17]:
del cities[6]
cities

['lhr', 'rwp', 'mul', 'que', 'khi', 'psh', 'slk']

In [1]:
names: list[str, int] = [1, 2, "Abdul"]

error: "list" expects 1 type argument, but 2 given

In [2]:
from typing import Any

names: list[Any] = [1, 2, "Abdul"]

Now OK in mypy

In [3]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [6]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [8]:
print(print("Pakistan Zindabad"))

Pakistan Zindabad
None

Print is a non return function

In [3]:
names: list[str] = ["Kashif", "Muhammad", "Abdul"]

for name in names:
    print("Welcome", name.title())

Welcome Kashif
Welcome Muhammad
Welcome Abdul

In [15]:
data_base: list[tuple[str, int]] = [("A", 1), ("B", 2), ("C", 3)]
# 各要素につS

print("First Method")

for row in data_base:
    print(row)

print("Second Method")
print("==============")
for row in data_base:
    user, password = row
    print(f"For User {user}: Password is {password}")

print("Third Method")
print("=============")
for  i, v in data_base:
    print(f"For User {i}: Password is {v}")

print("Forth Method")
print("=============")
for  i, j, in enumerate(data_base):
    print(f"{i}: {j}")

First Method
('A', 1)
('B', 2)
('C', 3)
Second Method
==============
For User A: Password is 1
For User B: Password is 2
For User C: Password is 3
Third Method
=============
For User A: Password is 1
For User B: Password is 2
For User C: Password is 3
Forth Method
=============
0: ('A', 1)
1: ('B', 2)
2: ('C', 3)

In [16]:
[range(10)]

[range(0, 10)]

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
#Table of 2

list(range(2, 21, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
for n in range(2, 21, 2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [21]:
[n for n in range(2, 21, 2)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
[n * 2 for n in range(1, 11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [23]:
[f"2 X {n} = {n*2}" for n in range(1, 11)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '2 X 10 = 20']

In [24]:
input_number: int = int(input("Enter a number: "))
[f"{input_number} X {n} = {n*input_number}" for n in range(1, 11)]

['5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '5 X 10 = 50']

In [25]:
[n**2 for n in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
squares: list[int] = [n**2 for n in range(1, 11)]
print(squares)
print(max(squares))
print(min(squares))
print(sum(squares))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
100
1
385

In [28]:
sorted(1,4,99,7,8,44,11,3,22)

TypeError: sorted expected 1 argument, got 9

In [29]:
sorted([1,4,99,7,8,44,11,3,22])

[1, 3, 4, 7, 8, 11, 22, 44, 99]