# Loop

In [1]:
for a in range(5): # 5 is exclusive (0,1,2,3,4)
    print(a)

0
1
2
3
4

In [2]:
for a in range(5): # 5 is exclusive (0,1,2,3,4)
    print(a+1)

1
2
3
4
5

In [3]:
for a in range(1,6):
    print(a)

1
2
3
4
5

In [5]:
for num in range(1,11):
    print(f"{num} X {2} = {num*2}")

1 X 2 = 2
2 X 2 = 4
3 X 2 = 6
4 X 2 = 8
5 X 2 = 10
6 X 2 = 12
7 X 2 = 14
8 X 2 = 16
9 X 2 = 18
10 X 2 = 20

In [6]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [7]:
for r in range(20,1,-2):
    print(r)

20
18
16
14
12
10
8
6
4
2

In [8]:
country: str = "Pakistan"

for char in country:
    print(char)

P
a
k
i
s
t
a
n

In [9]:
countries: str = "Pakistan", "UAE", "Arab"

for country in countries:
    print(country)

Pakistan
UAE
Arab

It consider it as tuple and take valuse one by one

In [10]:
for num1 in range(1,11):
    if num1 == 5:
        continue
    else: print(num1)

1
2
3
4
6
7
8
9
10

In [11]:
for num2 in range(1,11):
    if num2 == 5:
        break
    else: print(num2)

1
2
3
4

In [13]:
alist: list[int] = []
for num3 in [3,4,7,8,11,13,14]:
    if num3%2==0:
        alist.append(num3)
        
print(alist)

[4, 8, 14]

In [17]:
for name in ["Ali", "Talha", "Junaid", "Admin", "Numan", "User", "Ayan"]:
    if name.lower() == "admin" or name.lower() == "user":
        continue
    else: print(name)

Ali
Talha
Junaid
Numan
Ayan

## Nested Loop

In [19]:
for num4 in range(1,3):
    print("Inner Loop")
    for names in ["Ali", "Ahmad", "Abdul"]:
        print(num4, names)

Inner Loop
1 Ali
1 Ahmad
1 Abdul
Inner Loop
2 Ali
2 Ahmad
2 Abdul

In [21]:
table_number: int = int(float(input("Enter the number whose table you want to generate")))
for num5 in range(1,11):
    print(f"{table_number} X {num5} = {table_number * num5}")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [25]:
tables: int = int(float(input("Enter the range from 2 to onward whose tables you want to generate")))

for table in range(2, tables+1):
    print(f"Table of {table}")
    for num6 in range(1,11):
        print(f"{table} X {num6} = {table * num6}")

Table of 1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
Table of 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20