# Loop

In [1]:
for a in range(5): # 5 is exclusive (0,1,2,3,4)
    print(a)

0
1
2
3
4

In [2]:
for a in range(5): # 5 is exclusive (0,1,2,3,4)
    print(a+1)

1
2
3
4
5

In [3]:
for a in range(1,6):
    print(a)

1
2
3
4
5

In [5]:
for num in range(1,11):
    print(f"{num} X {2} = {num*2}")

1 X 2 = 2
2 X 2 = 4
3 X 2 = 6
4 X 2 = 8
5 X 2 = 10
6 X 2 = 12
7 X 2 = 14
8 X 2 = 16
9 X 2 = 18
10 X 2 = 20

In [6]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [7]:
for r in range(20,1,-2):
    print(r)

20
18
16
14
12
10
8
6
4
2

In [8]:
country: str = "Pakistan"

for char in country:
    print(char)

P
a
k
i
s
t
a
n

In [9]:
countries: str = "Pakistan", "UAE", "Arab"

for country in countries:
    print(country)

Pakistan
UAE
Arab

It consider it as tuple and take valuse one by one

In [10]:
for num1 in range(1,11):
    if num1 == 5:
        continue
    else: print(num1)

1
2
3
4
6
7
8
9
10

In [11]:
for num2 in range(1,11):
    if num2 == 5:
        break
    else: print(num2)

1
2
3
4

In [12]:
alist: list[int] = []
for num3 in [3,4,7,8,11,13,14]:
    if num3%2==0:
        alist.append(num3)
        
print(alist)

[4]