In [1]:
tableName = int(input("Enter Number"))
for num in range(1,11):
    print(f"{tableName} X {num} = {tableName*num}")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [3]:
number_for_table = int(float(input("Enter Number Whose Table you want to print")))
for num in range(1,11,1):
    print(f"{number_for_table} x {num} = {num*number_for_table}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [1]:
name= input("Enter name")
age=int(input("Enter age"))
print(f"Dear student {name} your age is {age}")

Dear student Ak your age is 34

In [2]:
st_name = input("Enter name").title()
if st_name == "Asad":
    print (f"Hello, {st_name}! How are you today?")

Hello, Asad! How are you today?

In [3]:
st_name = input("Enter name").lower()
if st_name == "Asad".lower():
    print (f"Hello, {st_name.title()}! How are you today?")

Hello, Asad! How are you today?

In [6]:
alist=[1,2,3,4]
alist[1:100]

[2, 3, 4]

In [7]:
#class 10
a=10
while a>0:
    print("Hi", a)
    a-=1

Hi 10
Hi 9
Hi 8
Hi 7
Hi 6
Hi 5
Hi 4
Hi 3
Hi 2
Hi 1

In [2]:
print( 9 + 2\
      + 3 +\
        2)

16

In [12]:
sname: str = "Ali"
fname: str = "Khan"
age: int = 30
card: str = """
Student Name: {0}
Father Name: {a}
Age: {1}
""".format(sname, age, a=fname)
print(card)

Student Name: Ali
Father Name: Khan
Age: 30

In [23]:
import re
aname: str = "   Abdul   Khaliq    "

name1: str = re.sub(' {2,100}', ' ', aname) # exectly aisy likhny sy chal raha hy wrna error

display(aname)
display(name1)

'   Abdul   Khaliq    '

' Abdul Khaliq '

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\pc\anaconda3\envs\py12\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\pc\anaconda3\envs\py12\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\anaconda3\envs\py12\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\anaconda3\envs\py12\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\pc\anaconda3\envs\py12\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\pc\anaconda3\envs\py12\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [8]:
import pandas as pd

table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")

table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [9]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\pc\anaconda3\envs\py12\lib\site-packages (4.9.3)

In [10]:
print(14/3)
print(14//3)
print(14.0//3)

4.666666666666667
4
4.0

In [14]:
chr(48)
ord("A")

65

In [1]:
database: list[tuple[str,str]] = [('qasim','123'), ('zia','456')]

for row in database:
    user, password = row
    print(f"User {user} has Password {password}")

User qasim has Password 123
User zia has Password 456

In [2]:
database: list[tuple[str,str]] = [('qasim','123'), ('zia','456')]


input_user: str = input("Enter User Name")
input_password: str = input("Enter User Password")
for row in database:
    user, password = row
    if input_user == user and input_password == password:
        print("Valid User")
        break
else:
    print("Invalid User")

Valid User
Invalid User

In [4]:
for n in range(1,10):
    print(n**2)

1
4
9
16
25
36
49
64
81

In [5]:
[n**2 for n in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
print("Hi") if True else print("Ho")

Ho

In [11]:
cars : list = ['audi', 'bmw', 'firari']

for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Firari

In [9]:
cars : list = ['audi', 'bmw', 'firari']

[car.upper() if car == 'bmw' else car.title() for car in cars]

['Audi', 'BMW', 'Firari']

In [5]:
aset = {1,2,3,[4,5]}
print(aset)

TypeError: unhashable type: 'list'

In [10]:
atuple = (1,2,[3,4])
print(atuple[2])
atuple[2].append(5)
print(atuple)

[3, 4]
(1, 2, [3, 4, 5])

In [11]:
adict = {1: 100,
         {1}:"A"}
print(adict)

TypeError: unhashable type: 'set'

In [12]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str] # create custom type
Value = Union[int, str, list, dict, tuple, set]

# List                    0                1            2
data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS",
                        # [1,2,3] : "Pakistan", # error
                        # (1,2,3) : "Pakistan", #error
                        # {1,2,3} : "pakistan", #error
                        }

pprint.pprint(data)
print(data["name"])
print(data['fname'])
print(data['education'])
# print(data[0]) # index = key

{'education': 'MSDS', 'fname': 'Muhammad Aslam', 'name': 'Muhammad Qasim'}
Muhammad Qasim
Muhammad Aslam
MSDS

In [14]:
[k for k in data.keys()]
[v for v in data.values()]
{k:v for k,v in data.items()}

{'fname': 'Muhammad Aslam', 'name': 'Muhammad Qasim', 'education': 'MSDS'}

In [16]:
flag: bool = True

num: int = 1
while flag:
    print(f"The value of num is {num}")
    num +=1
    if num == 5:
        flag = False

The value of num is 1
The value of num is 2
The value of num is 3
The value of num is 4

In [17]:
flag: bool = True

num: int = 1
while flag:
    print(f"The value of num is {num}")
    num +=1
    if num == 5:
        break

The value of num is 1
The value of num is 2
The value of num is 3
The value of num is 4

In [1]:
data: list[int] = [1,2,3,4]

data = map(lambda x: x**2,data)

data

In [2]:
data: list[int] = [1,2,3,4]

data = list(map(lambda x: x**2,data))

data

[1, 4, 9, 16]

In [2]:
def factorial(num: int)->int:
    if num == 0 or num == 1:
        return 1
    else:
        return num * factorial(num - 1)
    

print(factorial(5))

120