In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\pc\anaconda3\envs\py12\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\pc\anaconda3\envs\py12\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\anaconda3\envs\py12\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\anaconda3\envs\py12\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\pc\anaconda3\envs\py12\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\pc\anaconda3\envs\py12\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')

table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

All, the tables on https://www.w3schools.com/python/python_operators.asp this page converted in to pandas dataframe

In [23]:
solve_this = (3+2)*5/2-4**2+8//2*8
        #      5  *5/2-16+8//2*8
        #      25/2-16+4*8
        #       12.5-16+32
        #       44.5-16

display(solve_this)

28.5

In [24]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

Assignment Operators = Performe operation and on the same time assign the value back to variable

In [28]:
a = 5
a+=3
print(a)
b=5
b-=3
print(b)
c=5
c/=3
print(c)

8
2
1.6666666666666667

In [29]:
d=5
d%=3
print(d)
e=5
e*=3
print(e)
f=5
f//=3
print(f)
g=5
g**=3
print(g)

2
15
1
125