In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\pc\anaconda3\envs\py12\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\pc\anaconda3\envs\py12\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\anaconda3\envs\py12\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\anaconda3\envs\py12\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\pc\anaconda3\envs\py12\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\pc\anaconda3\envs\py12\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')

table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

All, the tables on https://www.w3schools.com/python/python_operators.asp this page converted in to pandas dataframe

In [23]:
solve_this = (3+2)*5/2-4**2+8//2*8
        #      5  *5/2-16+8//2*8
        #      25/2-16+4*8
        #       12.5-16+32
        #       44.5-16

display(solve_this)

28.5