# Strings

In [1]:
name: str = "Abdul Khaliq"
print(type(name))
print(name)

<class 'str'>
Abdul Khaliq

In [15]:
qualification: str = "MSCS (Software Engineering)"
age: int = 30

In [16]:
student_card: str = "Student's Card \nName: Abdul Khaliq \nQualification: MSCS (Software Engineering)"
print(student_card)

Student's Card
Name: Abdul Khaliq
Qualification: MSCS (Software Engineering)

In [17]:
student_card2: str = 'Student\'s Card \nName: Abdul Khaliq \nQualification: MSCS (Software Engineering)'
print(student_card2)

Student's Card
Name: Abdul Khaliq
Qualification: MSCS (Software Engineering)

In [18]:

student_card3: str = "Student\'s Card \nName: " + name +  "\nQualification: " + qualification + "\nAge: " + str(age)
print(student_card3)

Student's Card
Name: Abdul Khaliq
Qualification: MSCS (Software Engineering)
Age: 30

In Python same data types can be concatinated

In [19]:
print(7 + 8 + \
      3 + \
        9)

# \ for line continue

27

In [20]:
student_card4: str = "Student\'s Card \nName: " + name + \
      "\nQualification: " + qualification + \
        "\nAge: " + str(age)
print(student_card4)

Student's Card
Name: Abdul Khaliq
Qualification: MSCS (Software Engineering)
Age: 30

## F - String and Jinja Style

In [22]:
student_card5: str = f"""
Student\'s Card
Name: {name}
Qualification: {qualification}
Age: {age}"""
print(student_card5)

Student's Card
Name: Abdul Khaliq
Qualification: MSCS (Software Engineering)
Age: 30

In [24]:
student_card6: str = """
Student\'s Card
Name: { {name} }
Qualification: {qualification}
Age: {age}"""
print(student_card6)

# Jinja style run on server

Student's Card
Name: {name}
Qualification: {qualification}
Age: {age}

In [27]:
student_card7: str = """
Student\'s Card
Name: %s
Qualification: %s
Age: %d 
""" % (name, qualification, age)

print(student_card7)

Student's Card
Name: Abdul Khaliq
Qualification: MSCS (Software Engineering)
Age: 30

In [29]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [30]:
student_card8: str = """
Student\'s Card
Name: {}
Qualification: {}
Age: {} 
""".format(name, qualification, age)

print(student_card8)

Student's Card
Name: Abdul Khaliq
Qualification: MSCS (Software Engineering)
Age: 30

In [31]:
student_card9: str = """
Student\'s Card
Name: {}
Qualification: {}
Age: {} 
""".format(name, age, qualification)

print(student_card9)

Student's Card
Name: Abdul Khaliq
Qualification: 30
Age: MSCS (Software Engineering)

In [33]:
student_card10: str = """
Student\'s Card
Name: {0}
Qualification: {2}
Age: {1} 
""".format(name, age, qualification)

print(student_card10)

Student's Card
Name: Abdul Khaliq
Qualification: MSCS (Software Engineering)
Age: 30

In [35]:
student_card11: str = """
Student\'s Card
Name: {n}
Qualification: {q}
Age: {a} 
""".format(n=name, a=age, q=qualification)

print(student_card11)

Student's Card
Name: Abdul Khaliq
Qualification: MSCS (Software Engineering)
Age: 30